html
	include ./includes/head.jade

	body(style="padding-top: 70px;")
		nav.navbar.navbar-light.bg-faded.navbar-fixed-top
			a.navbar-brand(href='#')= credit.nom+" "+credit.prenom
			form(action=credit.domainSecure+"/auth/login/")
				button.pull-right.btn.btn-primary-outline(id='btn_login') Login
			
		
		div
			each r in rowsCard
				.col-lg-3.col-sm-6.col-xs-12
					.card
						.card-block
							h4.card-title= r.title
							h6.card-subtitle.text-muted= r.subtitle
						a(href!=r.imageUrl target="_blank")
							img(src!=r.imageUrl width="100%")
						.card-block
							p.card-text!= r.description
							a.card-link(href!=r.url1 target="_blank")= r.descUrl1
							a.card-link(href!=r.url2 target="_blank")= r.descUrl2
			
		